
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>changePassword</h2>

<div class="md-card" id="toHide">
    <div class="md-card-content">
        <form action="~/Account/changePasswordNow" method="post" role="form">
            <div class="uk-form-row">
                <label for="oldPassword">Old Password</label>
                <input class="md-input" type="password" id="oldPassword" name="oldPassword" onblur="verify()" required />
                <p style="margin-top:8px; float:right; color:#a94442"><b id="message"></b></p>
            </div>
            <div class="uk-form-row">
                <label for="password">New Password</label>
                <input class="md-input" type="password" id="pass1" pattern="\w+" title=" Password must contain only letters,numbers or underscores !" name="newPassword" required />
            </div>
            <div class="uk-form-row">
                <label for="password">Confirm Password</label>
                <input class="md-input" type="password" id="pass2" name="conPassword" onblur="pass()" required />
                <p id="show" style="margin-top:8px; float:right; color:#a94442"></p>
            </div>
            <div class="uk-margin-medium-top">
                <input type="submit" value="Submit"    />
            </div>
        </form>
    </div>
</div>

@*<div class="md-card" id="toShowNow" hidden>
    <div class="md-card-content">
        <span style="color:#ff0000">@TempData["pwdError"]</span>
        <span style="color:#ff0000">@TempData["pwdChange"]</span>
    </div>
</div>

<script>
    function verify() {

        if ($("#oldPassword").val()) {
            var oldPassword = $('#oldPassword').val();
            //alert('User Name ='+ userId);
            $.getJSON("/Account/verifyPassword?oldPassword=" + oldPassword, function (data) {
                if (data) {
                    $('#message').text("Wrong!");
                    $('#message').attr("style", "color:red;");
                    $('#done').attr('disabled', true);
                }
                else {


                    $('#message').text("Correct!");
                    $('#message').attr("style", "color:green;");
                }
            });
        }

    }

    function pass() {

        if ($("#pass1").val() != '' && $("#pass2").val() != '') {

            var first = document.getElementById('pass1').value;
            var second = document.getElementById('pass2').value;

            if (first == second) {
                $('#done').removeAttr('disabled');
                $('#done').attr('class', 'md-btn md-btn-success');
                document.getElementById('show').innerHTML = "<b>Matched!</b>";
                $('#show').attr("style", "color:green;");
            }
            else {
                $('#done').attr('disabled', true);
                document.getElementById('show').innerHTML = "<b>Not Match!</b>";
            }

        }
    }

    function showHide() {
        document.getElementById("toHide").hidden = true;
        document.getElementById("toShowNow").hidden = false;
    }
</script>*@